<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">
  
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
      </div>
  
      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
          <li><a href="#">Fr</a></li>
        </ul>
      </div>
    </div>
  </div>

<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
  
      <h1 class="logo me-auto me-lg-0"><a href="index.html"><img src="assets/assets/img/logo.png"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " routerLink="/front">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto active" href="#menu">Courses</a></li>
          <li><a class="nav-link scrollto" href="#events">Events</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a routerLink="/login" class="book-a-table-btn scrollto d-none d-lg-flex">Login</a>
  
    </div>
  </header><!-- End Header -->
<br> <br> 
  <!-- Page Title -->
  <div class="page-title" data-aos="fade" >
   
    
    <nav class="breadcrumbs" style="background-color: rgba(252, 255, 255, 0.6);">
      <div class="container">
        <ol>
          <li><a routerLink="/front">Home</a></li>
          <li class="current">Courses</li>
        </ol>
      </div>
    </nav>
  </div>
  
<br>

  

   <section id="tabs" class="tabs section custom-bg-color">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-3">
          <form (ngSubmit)="getModules()">
            <div class="mb-3">
              <label for="speciality" class="form-label">Speciality</label>
              <select id="speciality" class="form-select" [(ngModel)]="selectedSpeciality" name="speciality">
                <option *ngFor="let sp of speciality" [value]="sp">{{ sp }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="level" class="form-label">Level</label>
              <select id="level" class="form-select" [(ngModel)]="selectedLevel" name="level">
                <option *ngFor="let lvl of level" [value]="lvl">{{ lvl }}</option>
              </select>
            </div>
            <div class="text-center mt-3">
            <button type="submit" class="btn custom-btn-color" ><span class="text-white">Go</span></button>
            </div>
          </form>
          
        </div>

        <div class="col-lg-8 details order-2 order-lg-1">
          <h3>{{ selectedSpeciality }} - {{ selectedLevel }}</h3>
          
          <div class="row">
            <div class="col-md-6" *ngFor="let module of modules">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">{{ module.titleModule }}</h5>
                  <p class="card-text">Description : {{ module.description }}</p>

                  <p class="card-text">Hours : {{ module.nbreHeure }}</p>
              <p class="card-text">Progress : {{ module.progress }}</p>
                  <!-- Ajoutez d'autres attributs de module ici -->
                  <div class="text-center mt-3">
                    <a href="#" class="btn custom-btn-color" > <span class="text-white">Go</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- /Tabs Section -->
