<app-back></app-back>

<main id="main" class="main">
  <section class="section dashboard">
    <div *ngIf="classDetails">
      
        <div class="card-header text-center" style="color: black;">
            Details of Class 
          </div>
          
              </div>
              <div class="card-body">
                <div class="table-responsive p-0">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Capacity:</td>
                        <td>{{ classDetails.capacity }}</td>
                      </tr>
                      <tr>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Level:</td>
                        <td>{{ classDetails.level }}</td>
                      </tr>
                      <tr>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Progress:</td>
                        <td>{{ classDetails.progress }}</td>
                      </tr>
                      <!-- Add other fields as needed -->
                    </tbody>
                  </table>
                </div>
              </div>
        
  </section>
</main>
