<section id="courses-course-details" class="courses-course-details section">

    <div class="container" data-aos="fade-up">

      
      <div class="row">
        <div class="col-lg-8">
         
          <br>
          <!-- <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0"> -->
            <div class="row align-items-center">
              <div class="col-md-15 mb-3 mb-sm-0">
                <div class="row" *ngFor="let lesson of classDetails.classes?.lessons">
                  <div class="col-20">
                    <div class="card mb-4">
                      <div class="card-body">
                        <h5 class="card-title"><a routerLink="/ex/{{ lesson.idlesson }}" class="text-dark" >{{ lesson.title }}</a></h5>
                        <p class="card-text">
                          <!-- Afficher le contenu en fonction du type de fichier -->
                        
                         
                          <!-- Ajoutez d'autres conditions pour d'autres types de fichiers si nécessaire -->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
  
      
    <!-- </div> -->

    
    <div class="col-lg-4">
      <div class="container" data-aos="fade-up">
        <div class="col-lg-8 mb-4 mb-lg-2 px-lg-3 mt-lg-0">
          <div
            style="visibility: hidden; display: none; width: 285px; height: 801px; margin: 0px; float: none; position: static; inset: 85px auto auto;">
          </div>
          <div
            data-settings="{&quot;parent&quot;:&quot;#content&quot;,&quot;mind&quot;:&quot;#header&quot;,&quot;top&quot;:10,&quot;breakpoint&quot;:992}"
            data-toggle="sticky" class="sticky" style="top: 85px;">
            <div class="sticky-inner">
              <a class="btn btn btn-outline-warning btn-block   rounded-0 py-3 mb-3 bg-op-6 roboto-bold text-dark" href="#" >Take a Test</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Course Title : {{ classDetails.level }} - {{ classDetails.speciality }}</h5>  
    
          <div class="course-info d-flex justify-content-between align-items-center mb-3" style="background-color: #e2d09d91;">
            <h6>Course Title</h6>
            <p>{{ classDetails.titleModule }}</p>
          </div>
    
          <div class="course-info d-flex justify-content-between align-items-center mb-3" style="background-color: #e2d09d91;">
            <h6>Duration</h6>
            <p>{{ classDetails.nbreHeure }}</p>
          </div>
    
          <div class="course-info d-flex justify-content-between align-items-center mb-3" style="background-color: #e2d09d91;">
            <h6>Progress</h6>
            <p>{{ classDetails.progress }}</p>
          </div>
    
          <div class="course-info d-flex justify-content-between align-items-center" style="background-color: #e2d09d91;">
            <h6>Description</h6>
            <p>{{ classDetails.description }}</p>
          </div>
        </div>
      </div> -->
    </div>
    
      </div>

    </div>
    <div class="row align-items-center">
        <div class="col-md-15 mb-3 mb-sm-0">
          <div class="row" *ngFor="let lesson of classDetails.lessons">
            <div class="col-20">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title"><a routerLink="/ex/{{ lesson.idlesson }}" class="text-dark" >{{ lesson.title }}</a></h5>
                  <p class="card-text">
                    <!-- Afficher le contenu en fonction du type de fichier -->
                  
                   
                    <!-- Ajoutez d'autres conditions pour d'autres types de fichiers si nécessaire -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
 