<app-back></app-back>

<div class="content-wrapper white-background">
  <br> <br> <br>
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row justify-content-center"> <!-- Utiliser 'justify-content-center' pour centrer la colonne -->

        <div class="col-md-8">
          <div class="card custom-blue">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <span class="font-weight-bold " style="font-size: 1.5rem;color: rgb(8, 8, 8);">Lesson List</span>
              </div>
              <div class="ml-auto">
                <a routerLink="/addLesson"><i class="bi bi-patch-plus-fill text-black" style="font-size: 40px;"></i></a>
              </div>
            </div>

            <div class="card-body">
              <table class="table table-hover text-center custom-table">
                <thead>
                  <tr>
                    <th scope="col" class="custom-cell">Title</th>
                    <th scope="col" class="custom-cell">Content</th>
                    <th scope="col" class="custom-cell">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let l of lesson">
                    <td class="custom-cell">{{ l.title}}</td>
                    <td class="custom-cell">{{ l.content}}</td>
                    <td class="custom-cell">
                      <a routerLink="/updateClass/{{ l.idLesson }}"><i class="bi bi-pencil-square text-success" style="font-size: 15px;margin-left: 15px;"></i></a>
                      <a> <i class="bi bi-trash text-danger" style="font-size: 15px;margin-left: 15px;"></i></a>
                      <a routerLink="/"><i class="bi bi-chat-left-text" style="font-size: 15px;margin-left: 15px;"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
