.custom-sidebar {
    background-color: #d8f4f59d; /* Bleu turquoise */
  }
  .expanded {
    width: 255px; /* Définissez la largeur souhaitée en pixels ou en pourcentage */
  }
  .fs-20 {
  font-size: 13px;
}
.text-black-bold {
  color: black;
  font-weight: bold;
}
nav.main-header {
  margin-right: 20px; /* Ajoutez la valeur de la marge que vous souhaitez */
}
.custom-nav {
  width: 1220px; /* Vous pouvez ajuster la valeur selon vos besoins */
}