<app-back></app-back>

<main id="main" class="main">
<section class="section dashboard">

  
  <div class="row">

    
      <div class="row">
        <table  class="table table-hover text-center">
          <thead>
            <tr>
          
              <th scope="col">Progress</th>
              <th scope="col">Title Module </th>
              <th scope="col">Duration</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of module">
              
              <td>{{ m.progress}}</td>
              <td>{{ m.titleModule}}</td>
              <td>{{m.nbreHeure}}</td>
              <td>{{m.description}}</td>
         
       
              <td><button type="button" class="btn btn-outline-success" >Update</button> 
                <button type="button" class="btn btn-outline-danger">Delete</button>
                <button type="button" class="btn btn-outline-info" routerLink="/">Show</button></td>
            </tr>
            
            
          </tbody>
        </table>

        <button type="button"  class="btn btn-outline-success" routerLink="/addModule" >Add</button> 
 
      </div>
    </div>

</section>
</main>
